.counters {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.counterCreated {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.counters span {
  background: var(--gray-400);
}

.counterCreated p {
  color: var(--blue-300);
  font-weight: bold;
}

.counterCreated span {
  font-weight: bold;

  padding: 5px 10px;
  display: inline-block;
  border-radius: 50px;
}

.counterCompleted {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.counterCompleted p {
  color: var(--purple-300);
  font-weight: bold;
}

.counterCompleted span {
  font-weight: bold;
  border-radius: 30px;
  padding: 2px 10px;
}