* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --background: #FAFAFA;

  --yellow-700: #C47F17;
  --yellow-500: #DBAC2C;
  --yellow-300: #F1E9C9;

  --purple-700: #4B2995;
  --purple-500: #8047F8;
  --purple-300: #EBE5F9;

  --gray-100: #F3F2F2;
  --gray-200: #EDEDED;
  --gray-300: #E6E5E5;
  --gray-400: #D7D5D5;

  --base-label: #8D8686;
  --base-text: #574F4D;
  --base-subtitle: #403937;
  --base-title: #272221;  
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased; /* deixa a fonte mais detalhada nos navegadores */
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  /* color: var(--gray-100); */
}

h1, h2, h3, h4, h5 {
  font-family: 'Baloo 2', cursive;
}